{#

/**
 * @file
 * Template file for rafflesia module.
 */
#}
<h1> Total Graph </h1>

<canvas id="totalChart" width="200" height="200"></canvas>

<canvas id="totalLineChart" width="200" height="200"></canvas>

<canvas id="totalHorizontalChart" width="200" height="200"></canvas>

<canvas id="weeklyChart" width="200" height="200"></canvas>

<p>Source: {{ var }}</p>